.env
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
venv_mac/


# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
package-lock.json
yarn.lock


# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Prisma
# Prisma Client'ı genellikle commit edilir ama build dosyaları hariç
# Eğer generated client'ları da ignore etmek isterseniz aşağıdaki satırı açın:
# prisma/generated/

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.gif
*.webp

